.backtotop{
  @extend %bloc;
  background-color: $lightGray;
  border: none; 
  font-family: $monotypefont;
  grid-column: 1 / -1;
  text-align: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-radius: 50px;

  @media(min-width:840px){
      
      grid-row:  6;
    }
  @media(min-width:1200px){
      grid-row: 6;
      padding: 16px;
      
      margin-bottom: 180px;
    }


  transition: all 0.3s ease-in;
    &:hover{
      background-color: $hoverGray;
    }




}