.footer{
  grid-column: 1 / -1;
  @extend %bloc;
  background-color: $lightGray;

  &__belgium{
    padding-bottom: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px $white solid;
  }

  .small{
    color: $white;
    text-align: right;

  }

  p{
    font-family: $monotypefont;
  }
}

.link{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: $rem;
  color: $white;
  text-decoration: none;
      svg{
      fill: $white;
      height: 16px;
      aspect-ratio: 1 / 1;
    }
}