.navigation__container{


  grid-column: 1 / -1;

  @extend %bloc ;


    @media(min-width:840px){
      grid-column: 1 / 3 ;
      grid-row: 1;
    }
}

.navigation{
  margin: 0;
  padding: 0;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, fit-content);




  li{
    list-style: none;
  }

  &__element{
    background-color: $lightGray;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 2px 8px;
    z-index: 2;
    transition: 0.4s all ease;
    border: none;

    p{
      text-align: left;
      font-family: $monotypefont;
      z-index: 0;
      margin:2px 0;
      display: inline-block;
      color: $white;
      pointer-events: none;
    }
  }

    .navigation__element--active{
      background: $white;

      
       p {color:$darkGray;}
    }




}