.schema__pain{
position: relative;
    @extend %bloc;
  grid-column: 1 / -1;

  .schema__pain__container{
    max-height: 80px; width: 100%;
  }

  &__canva{
    border-radius: 8px;
  }

  &__text{
    display: flex;
    justify-content: space-between;
    font-family: $monotypefont;
  }
    @media(min-width:840px){
      grid-column: 1 / 3;
      grid-row: 4 ;
    }

    @media(min-width:1200px){
      grid-column: 1 / -1;
      grid-row: 3;
    }


}


.schema__pain__nbr{
  width: 96%;
  left: 2%;
  top: 105px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;


}
.canva__nbr{
  font-weight: 700;
  color: $darkGray;
  @include font-title(mono , 4);

  &2{
    color: $white;
  }
}