body {
  color: white;
  font-family: $monotypefont;
  font-size: $rem;
  line-height: 1.5;
  background-color: $colorBg;
  margin: 0;



  main{



    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(7,fit-content );
    gap: $padding_mobile;
    padding: $padding_mobile;

    @media(min-width:1200px){
      gap: $padding_desktop;
      padding: $padding_desktop;
      grid-template-columns: repeat(6, 1fr);
    }

  

  }




  user-select: none;
}


p {
  font-size: remscale(0);
  font-weight: 400;
  font-family: $primaryfont;
} 


h1{
  @include font-title(primary, 6);
  grid-column: 1/-1;
  margin: 0;

  span{
    @extend %outofbloc;
    display: none;
  }

  

  svg{
    width: 100%;
  }
}   

h2{
  font-weight: 400;
  @include font-title(mono, 0);
  text-transform: uppercase
}

h3{
  @include font-title(mono, 2);
}

strong{
  @include font-title(mono, 3);
}

.small{
    @include font-title(mono, -1);
}