.schema__ville{

    @extend %bloc;
  grid-column: 1 / -1;

  &__canva {
    
    width: 100%;
    aspect-ratio: 1 / 1;
    background-color: $white;
  }



  &__text{
    display: flex;
  justify-content: space-between;
  }

  &__btns{

    display: flex;
    flex-direction: row;
    gap: $rem;

  }

  &__btn{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__legendeCouleur{
    margin-bottom: 8px;
    height: 40px;
    aspect-ratio: 1 / 1;


    &--1{
      background: $lightGray;
    }

    &--2{
      background: $white;
    }
  }

  

}