@use "sass:math";

@function remscale($size){

    @if $size == 0 {
        @return $rem;
    }

    @if $size == -1 {
        @return $rem / $rem_scale;
    }

    @else{
        
        @return  math.pow($rem_scale,$size) * $rem ;
    }

}



@mixin bigtext ($size) {
    font-size: remscale($size);
    font-weight:700 ;
}

%bloc { 
    border-radius: 16px ;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    background-color: $darkGray;
    color: $white ;    

    padding : $padding_mobile;
    gap: $padding_mobile;

    p{
        margin: 0;
    }

    @media (min-width : 1200px) {

        padding : $padding_desktop;
        gap: $padding_desktop;

    }

}


@mixin font-title ($type, $size){

    font-size: remscale($size);

    @if $type == mono {
        font-family: $monotypefont;

    } @else {
        font-family: $primaryfont;
    }
}


%outofbloc{
    text-indent: 100%;
    text-wrap: unset;
    overflow: hidden;
}